USE [master]
GO
/****** Object:  Database [FirmManagementContext]    Script Date: 2.9.2016 г. 18:21:30 ******/
CREATE DATABASE [FirmManagementContext]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FirmManagementContext', FILENAME = N'C:\Users\boris.ruskov\FirmManagementContext.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FirmManagementContext_log', FILENAME = N'C:\Users\boris.ruskov\FirmManagementContext_log.ldf' , SIZE = 560KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FirmManagementContext].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FirmManagementContext]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2.9.2016 г. 18:21:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 2.9.2016 г. 18:21:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[WorkPermitDate] [datetime] NOT NULL,
	[Gender] [bit] NOT NULL,
	[isOperator] [bit] NOT NULL,
	[Workplace] [int] NOT NULL,
	[Hobbies] [nvarchar](max) NULL,
	[Salary] [float] NOT NULL,
 CONSTRAINT [PK_dbo.Employees] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([ID], [FirstName], [LastName], [WorkPermitDate], [Gender], [isOperator], [Workplace], [Hobbies], [Salary]) VALUES (1, N'Ivan', N'Todoorv', CAST(N'2001-01-01 00:00:00.000' AS DateTime), 1, 1, 3, N'Swimming', 1000)
INSERT [dbo].[Employees] ([ID], [FirstName], [LastName], [WorkPermitDate], [Gender], [isOperator], [Workplace], [Hobbies], [Salary]) VALUES (2, N'Metodi', N'Metev', CAST(N'2001-01-01 00:00:00.000' AS DateTime), 1, 1, 2, N'Tennis', 1000)
INSERT [dbo].[Employees] ([ID], [FirstName], [LastName], [WorkPermitDate], [Gender], [isOperator], [Workplace], [Hobbies], [Salary]) VALUES (3, N'Alex', N'Manov', CAST(N'2001-01-01 00:00:00.000' AS DateTime), 1, 1, 3, N'Hiking', 1000)
SET IDENTITY_INSERT [dbo].[Employees] OFF
USE [master]
GO
